<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CalculationProfitHeat.Properties.Settings.ProfitHeatConnectionString"
            connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=ProfitHeat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>